* { box-sizing: border-box; }

@-ms-viewport { width: device-width; }

body {
    margin: 0;
    font-family: Helvetica Neue;
}


/* ====== NAV TOP & STICKY ====== */



.navTop {
    font-size: 14px;
    font-weight: bold;
    background-color: #F8F8F8;
    overflow: auto;
    padding: 20px 10px;
    letter-spacing: .6px;
}

.navTop ul {
    margin: 0 8%;
    padding: 0;
}

nav li,
nav form {
    float: right;
    list-style: none;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
}

.navTop a {
    color: #A2A2A2;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #F8F8F8;
}


.no-outline {
    outline: none;
}

::placeholder {
    font-size: 14px;
    font-weight: bold;
/*    letter-spacing: .6px;*/
    text-decoration: none;
    color: #A2A2A2;
    text-transform: uppercase;
    margin-right: 10px;
}

/* ====== NAV STICKY ====== */

.navSticky {
    overflow: auto;
}

.navSticky a {
    color: #3b3442;
    text-align: center;
}

.logo {
    display: inline-block;
    margin: 0 0 0 8%;
}

.navSticky ul {
    margin: 0;
}

.navSticky li {
    position: relative;
    padding: 14px 14px;
    height: 48px;
    margin-top: 0;
    margin-right: 10px;
}

.navSticky-home {
    border: 2px solid #3b3442;
}

.navSticky-megamenu {
    margin: 0 8% 0 0;
    width: 730px;
    float: right;
    font-size: 16px;
    font-weight: 550;
    background-color: #fff;
    overflow: auto;
    padding: 0;
    letter-spacing: .6px;
}
















