* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: sans-serif;
}


/* ====== NAV TOP ====== */



.navTop {
    font-size: 14px;
    font-weight: bold;
    background-color: #F8F8F8;
    overflow: auto;
    padding: 20px 10px;
    letter-spacing: .6px;
}

nav ul {
    margin: 0 170px;
}

.navTop li,
.navTop form {
    float: right;
    list-style: none;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #A2A2A2;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #F8F8F8;
}

.no-outline {
    outline: none;
}

::placeholder {
    font-size: 14px;
    font-weight: bold;
/*    letter-spacing: .6px;*/
    text-decoration: none;
    color: #A2A2A2;
    text-transform: uppercase;
    margin-right: 10px;
}

form {
    
}